
body {
    background-color: #12151C;
    background-image: radial-gradient(#12151C, #212631, #12151C)
}

.container-block {
    margin-top: 150px;
    min-height: 68vh;

}

.title-block {
    text-align: center;
}

.title {
    color: #25A3E1;
}


/* footer */
footer {
    background-color: #12151C;
}



.course-detail {
    display: inline;
}
.course-detail__img {
    width: 600px;
    height: 350px;
    border-radius: 25px;
    border: solid 1px #fff;
}