{% extends "base_login.html" %}
{% load crispy_forms_tags %}




{% block title %} Paro'lingiz esdan chiqdimi? {% endblock %}


{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/user.css' %}" type="text/css">
{% endblock %}



{% block content %}


<div class="container container-block text-center border border-primary">
        <h1>Paro'lingiz esdan chiqdimi?</h1>
        <p>Quyida email manzilingizni kiriting, biz sizga paro'lni tiklash uchun qo'llanma yuboramiz.</p>

        <form action="" method="POST">{% csrf_token %}
            {{ form | crispy }}

            <input type="submit" class="btn btn-success" value="Yuborish!">

        </form>
    </div>

{% endblock %}