{% extends "base.html" %}
{% load crispy_forms_tags %}




{% block title %} Paro'lni yangilash saxifasi {% endblock %}


{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'users/css/password_change.css' %}" type="text/css">
{% endblock %}



{% block content %}


<div class="container container-block text-center">
    <h1 class="title">Paro'lni o'zgartirish</h1>
    <p>Avval eski paro'lni keyin esa yangi paro'lni ikki marotaba kiriting.</p>

    <div class="row">
        <div class="col-3">
            <form action="" method="post">{% csrf_token %}
                {{ form | crispy }}
        
                <input type="submit" class="btn btn-success" value="O'zgartirish">
            </form>
        </div>

        <div class="col-9"></div>
    </div>

</div>

{% endblock %}