<!-- footer 2 section -->

<footer>
<!-- <section class="footer"> -->

    <div class="container sotsets">
        <hr>
        <div class="row">
            <div class="sotset-block col-10">
                <p class="logotipe d-flex">
                    <img class="logo__type logo__type-footer" src="/static/images/logo/favicon-32x32.png" alt="Logo">
                    <span class="logo__name logo__name-footer me-1 ms-1">Ortho Academy</span>
                </p>
                <p class="address">Toshkent shahar, Mirzo Ulug'bek tumani, Navoi ko'chasi, 11A</p>
            </div>
    
            <div class="footer-info col-2">
                <p class="phone">+998 90 938-09-10</p>
                <p class="prava">© Ortho Academy 2024. Barcha huquqlari himoyalangan.</p>
            </div>
        </div>
    </div>

<!-- </section> -->
</footer>

<!-- footer 2 section end -->