<!-- language section -->

<section class="language">

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown disabled">
            <a class="nav-link dropdown-toggle disabled" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                uz
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li class="d-flex justify-content-center">Language</li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li class="dropdown-item ">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios"
                            id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            uz
                        </label>
                    </div>
                </li>
                <li class="dropdown-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios"
                            id="exampleRadios3" value="option3">
                        <label class="form-check-label" for="exampleRadios3">
                            ru
                        </label>
                    </div>
                </li>
            </ul>
        </li>
    </ul>

</section>

<!-- language section end -->